body{
    margin: 5% 30%;
    border: 5px double black;
}
div{
    margin: 5%;
}
.invalid{
    display: none;
    color: red;
    text-align: center;
    font-size: 15px;
    font-weight: 900;
    font-family:'Times New Roman', Times, serif ;
}
#result{
    display: none;
}
#result table{
    margin: 1em;
    width: 100%;
}
.section{
    width: 30%;
}